<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div class="form_holder">
            <form onsubmit="prev_papers()" method = "POST">
                <label style="font-size: 22px;"><b>dept</b>  </label>
                <input class="dept" type = 'text' name = 'dept' id='dept'/>
                <br><br><br>
                
                <label style="font-size: 22px;"><b>courseid</b>  </label>
                <input class="courseid" type = 'text' name = 'courseid' id='courseid'/>
                <br><br><br>
                
                <label style="font-size: 22px;"><b>exam</b>  </label>
                <input class="exam" type = 'text' name = 'exam' id='exam'/>
                <br><br><br>
                
                <label style="font-size: 22px;"><b>year</b>  </label>
                <input class="year" type = 'text' name = 'year' id='year'/>
                <br><br><br>
                
                <label style="font-size: 22px;"><b>prof</b>  </label>
                <input class="prof" type = 'text' name = 'prof' id='depproft'/>
                <br><br><br>
                
                <input class="submit_button" type = 'submit' dept = 'Login'/>
            </form>
        </div>
    </body>
</html>